.midSection{
    min-height: 100vh;
    height: 100%;
}

.heading{
    padding: 4em;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins-bold';
    font-size: x-large;
}

.single-feature {
    text-align: center;
    padding: 50px 30px;
    background: #fff;
    box-shadow: 0 5px 10px rgb(0 9 128 / 4%), 0 7px 18px rgb(0 9 128 / 5%);
}

.single-feature>div{
    margin: 20px;
}
.single-feature>div:nth-child(2){
    font-weight: 700;
}
.single-feature>div:nth-child(3){
    padding:0 10px 0;
}