.display{
    min-height: 100vh;
    height: 100%;
}
.heading{
    position: relative;
    font-size: 2em !important;
    font-weight: 700;
    top:2rem;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
}
.heading2{
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    position: relative;
    top:3rem;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    margin-bottom: 5rem;
}
