.container{
    height:fit-content;
    margin:0.5rem;
    min-height: 30em;
    background-color: white;
    width: 90%;
    box-shadow: 0 5px 10px rgb(0 9 128 / 4%), 0 7px 18px rgb(0 9 128 / 5%);
  }
  .service{
    position: relative;
    top:2rem;
    font-size:1rem;
    color:#00006D;
    font-weight:700;
    margin-bottom: 5em;
  }
  .service div{
    color:#FF750F;
    margin-top: 1rem;
    font-size:1.5rem;
    font-family: 'Merriweather', serif;
  }
  
  .subService{
    position: relative;
    display: block;
    width: fit-content;
    margin: 2px;
    left:2rem;
    font-size: 1rem;
    font-family: 'Public Sans', sans-serif;
  }
  .subService span{
    font-size:1.5rem;
    color:green;
  }
  .btn{
    border:none;
    width: 90%;
    margin: 1em 0em 1em;
    color:white;
    padding: 1rem;
    border-radius:1rem;
    font-size: 1.2rem;
    background: linear-gradient(
      -45deg, #4e54c8, #8089ff) !important;
          color: #FFF !important;
    outline:none;
    cursor:pointer;
    font-family: 'Public Sans', sans-serif;
  }
  .container>p{
    margin: 1em;
  }
  .container:hover{
    border: 2px solid  rgb(0 9 128 / 5%);
  }
 